#query{
  font-size: 24px;
  color: gray;
  position: relative;
  font-weight: 600;
  opacity: .8;
  /* border: 1px red solid; */
  text-align: center;
  margin: 10px;
  padding: 40px;

}
.shoesCont{
  display: flex;
  /* border: 1px blue solid; */
  padding: 5px;
  margin: 20px;
  flex-flow: row wrap;
}

.shoeCont{
  position: relative;
  cursor: pointer;
  padding: 5px;
  margin: 5px;
  flex-basis: 100%;
  /* border: 1px white solid; */
  /* border-bottom: 1px white solid; */
  /* border-radius: 5px; */
  display: flex;
  justify-content: space-between;
  transition: all .3s ease;
}

.shoeCont:hover{
  background: #cb7c00;
  color: white;
}
.shoeCont:active{
  color: black;
}

.shoe_compName{
  font-weight: 300;
  padding: 10px;
  margin: 10px;
  /* border: 1px red solid; */
  flex-basis: 10%;
}
.shoe_shoeName{
  text-align: left;
  flex-basis: 50%;
  font-weight: 600;
  padding: 10px;
  margin: 10px;
  /* border: 1px red solid; */
}
.shoe_shoeSize{
  font-weight: 600;
  padding: 10px;
  margin: 10px;
  /* border: 1px red solid; */
  flex-basis: 10%;
}
.shoe_shoePrice{
  font-weight: 600;
  padding: 10px;
  margin: 10px;
  /* border: 1px red solid; */
  flex-basis: 75px;
}

.summary{
  /* border: 1px red solid; */
  padding: 5px;
  margin: 5px;
  display: flex;
  justify-content: space-around;
  /* text-align: center; */
}
.minCompCont{
  z-index: 1000;
  flex-basis: 33%;
  /* border: 1px red solid; */
  min-height: 200px;
  cursor: pointer;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
}
.minCompCont:hover{
  background: #cb7c00;
  color: white;
}
.minCompName{
  /* border: 1px red solid; */
  margin: 5px;
  font-weight: 300;
}
.minCompPrice{
  /* border: 1px red solid; */
  padding: 5px;
  margin: 5px;
  font-weight: 600;
}
.avgPriceCont{
  flex-basis: 33%;
  /* border: 1px red solid; */
  padding: 5px;
  margin: 5px;
}
.summaryTitle{
  /* border: 1px red solid; */
  padding: 5px;
  margin: 5px;
  font-size: 22px;
}
.avgPrice{
  /* border: 1px red solid; */
  padding: 5px;
  margin: 5px;
  font-weight: 600;
}

#sizeTitle{
  font-size: 16px;
  /* border: 1px red solid; */
  padding: 20px;
  position: relative;
  text-align: center;
  left: 50%;
  transform: translate(-50%);
}

#slider{
  /* border: 1px red solid; */
  position: relative;
  left: 50%;
  transform: translate(-50%);
}
.ticks {
  font: 10px sans-serif;
}

.track,
.track-inset,
.track-overlay {
  stroke-linecap: round;
}

.track {
  stroke: gray;
  stroke-opacity: 1;
  stroke-width: 5px;
}

.track-inset {
  stroke: gray;
  stroke-width: 2px;
}

.track-overlay {
  pointer-events: stroke;
  stroke-width: 50px;
  stroke: transparent;
  cursor: crosshair;
}

.handle {
  fill: orange;
}

#resultsSeparator{
  /* border: 1px red solid; */
  padding: 40px;
  padding-bottom: 5px;
  color: gray;
  border-bottom: 1px gray solid;
}

#loading{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: orange;
  z-index: 6000;
  padding: 300px;
}
